body{font-family : Georgea; background: #0f172a; color:  white; text-align: center; padding: 40px;}
input{padding: 12px; width: 220px; border-radius: 8px; border: none; }
button {padding: 12px 18px; border-radius: 8px; border: none; background: #38bdf8; color: black; font-weight:bold; cursor: pointer; }
.card {background: #1e293b; padding: 25px; margin: 30px auto; width: 320px; border-radius: 15px; box-shadow: 0  4px  20px rgba(0,0,0,0.5); }